<?xml version="1.0"?>
<launch>

  <arg name="logging" default="screen" />
  <arg name="ship_velocity" default="0.1" /> <!-- velocity between 0 and 5 m/s -->
  <arg name="ship_waypoints" default="[[2,6],[2,-4],[-2,-2],[4,-2],[-5,5],[4,4],[-6,-6]]" />
  <!-- <arg name="ship_waypoints" default="[[[8, 0], [6, 0], [4, 0] ,[2, 0] ,[0, 0], [2, 0], [4, 0], [6, 0], [8, 0]]]" /> -->
  <!-- Global as it is used by both ship_following_controller_node and ship_node -->
  <arg name="followed_epsilon" default="2.0"/>

  <include file="$(find flightgoggles)/launch/core.launch">
  </include>

  <include file="$(find visualizer)/launch/view.launch">
  </include>

  <include file="$(find flightcontroller)/launch/angle.launch">
  </include>

  <include file="$(find sensor_simulation)/launch/sensors.launch">
    <arg name="logging" default="$(arg logging)" />
    <arg name="ship_waypoints" default="$(arg ship_waypoints)" />
    <arg name="ship_velocity" default="$(arg ship_velocity)" />
    <arg name="followed_epsilon" default="$(arg followed_epsilon)" />
  </include>

  <node pkg="flightcontroller" type="attitude_thrust_controller.py" name="attitude_thrust_controller_node" output="screen">
  </node>

</launch>
